<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/addpost">ADD POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/view_posts">VIEW POSTS</a>
          </li>
          
        </ul>
        {% if session.get('username') %}
        <button class="btn btn-primary" style="margin-right: 5px;"><a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">LOGOUT</a></button>
        {% else %}
        <button class="btn btn-primary" style="margin-right: 5px;"><a class="nav-link active" aria-current="page" href="{{url_for('reg')}}">REGISTER</a></button>
        <button class="btn btn-primary" style="margin-right: 5px;"><a class="nav-link active" aria-current="page" href="{{url_for('log')}}">LOGIN</a></button>
        {% endif %}
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>