<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="">Title:</label>
        <input name="title" type="text">
        <label for="">Content:</label>
        <textarea name="content" rows="5"></textarea>
        <label for="">Slug:</label>
        <input name="slug" type="text">
        <button>Edit POST</button>
    </form>
</body>
</html>